<launch>
    <!-- Optional arguments -->
    <arg name="debug" default="false" doc="show debug messages if `true`" />
    <arg name="lidar_data" default="false" doc="show lidar data if `true` AND `debug:=true`" />
    <arg name="sleep_rate" default="5" doc="adjust Hertz rate of published messages" />

    <!-- Parameters -->
    <param name="debug" type="bool" value="$(arg debug)" />
    <param name="lidar_data" type="bool" value="$(arg lidar_data)" />
    <param name="hertz_rate" type="double" value="$(arg sleep_rate)" />

    <!-- Start wall following -->
    <node pkg="wall_follower" type="follow_wall_by_degree.py" name="follow_wall" respawn="true" output="screen" />
</launch>
